# Conan generated
/conan.lock
/conanbuildinfo.premake.lua
/conanbuildinfo.txt
/conaninfo.txt
/graph_info.json

# Visual studio
/.vs
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user

# Binary output
/bin
/temp
/app/java/java_test.jar
/app/java/java_obj
/app/cpp/obj
/app/cpp/cpp_test.pdb

# Java jdk 
/app/jdk
